@media screen and (max-width: 576px) {
    .zoom-container{
        width:350px; 
        height:350px;
    }
    .purchase-section #package-carousel .carousel-img {
    width: 133px;
    height: 133px;
    }
}

@media screen and (min-width: 768px) {
    .zoom-container{
        width:360px; 
        height:360px;
    }
    .purchase-section #package-carousel .carousel-img {
    width: 68.8px;
    height: 68.8px;
    }
}

@media screen and (min-width: 992px) {
    .zoom-container{
        width:410px; 
        height:410px;
    }
    .purchase-section #package-carousel .carousel-img {
    width: 120px;
    height: 120px;
}
.purchase-section .left-card {
    height: 295px;
}
}

@media screen and (min-width: 1400px) {
    .zoom-container{
        width:500px; 
        height:500px;
    }
    .purchase-section #package-carousel .carousel-img {
    width: 172px;
    height: 172px;
}
}