@media screen and (max-width: 576px) {

    /*Video Section */
    .video-section {
        min-height: 843px;
        height: auto;
        width: 100%;
        max-width: 425px;
    }

    .video-section .container {
        width: 100%;
        max-width: 425px;
        min-height: 795px;
        height: auto;
    }

    .video-section .video-col {
        width: 100%;
        max-width: 393px;
        min-height: 235px;
        height: auto;
    }

    .video-section .text-col {
        width: 100%;
        max-width: 393px;
        min-height: 560px;
        height: auto;
    }

    .video-section .video-col div iframe {
        width: 100%;
        max-width: 393px;
        min-height: 236px;
        height: auto;
    }

    .video-section .text-col .text-part {
        width: 100%;
        max-width: 329px;
    }

    .video-section .p-32 {
        padding: 32px;
    }

    .video-section .text-col h2 {
        font-size: 24px;
    }

    /* Customers Review Section */
    .customers-review-section h2 {
        font-size: 30px;
    }

    .customers-review-section .card-body p {
        font-size: 14px;
    }

    .customers-review-section .card-body small {
        font-size: 12px;
    }

    /*Benefits Section*/
    .benefits-section h2 {
        font-size: 30px;
        font-family: Helvetica;
    }

    .benefits-section .main p {
        font-size: 18px;
    }

    .benefits-section .container-fluid {
        max-width: 425px;
        min-height: 1017px;
    }

    .benefits-section .svg-img {
        width: 373px;
        height: 365px;
    }

    .benefits-section .svg-img img {
        width: 320px;
        height: 320px;
    }

    .benefits-section .svg-img svg {
        bottom: 24px;
    }

    .benefits-section h3 {
        font-size: 16px;
    }

    .benefits-section p {
        font-size: 14px;
    }

    .benefits-section #l1 {
        width: 48%;
        max-width: 48px;
    }

    .benefits-section #l2 {
        width: 48%;
        max-width: 48px;
    }

    .benefits-section #l3 {
        width: 48%;
        max-width: 48px;
    }

    .benefits-section #l4 {
        width: 48%;
        max-width: 48px;
    }

    /*Purchase Section*/
    .purchase-section .product-info .main-heading {
        font-size: 24px;
    }

    .purchase-section .product .main-heading {
        font-size: 20px;
        max-width: 280px;
        min-height: 75px;
    }

    .purchase-section .product .carousel-inner img {
        max-width: 350px;
        min-height: 350px;
    }

    .purchase-section .oneTimeBtn,
    .purchase-section .subscribeBtn {
        padding: 10px 8px;
    }

    .purchase-section h2.bag {
        font-size: 20px;
    }

    .purchase-section .org-price {
        font-size: 18px;
    }

    .purchase-section h2.price {
        font-size: 20px;
    }

    .purchase-section h5.save {
        font-size: 16px;
    }

    .purchase-section span.per-bag {
        font-size: 14px;
    }

    .purchase-section h4.month {
        font-size: 14px;
    }

    .purchase-section .free-text {
        font-size: 12px;
    }

    .purchase-section .oneTimeCards button,
    .purchase-section .subscribeCards button {
        max-width: 84.63px;
        min-height: 51px;
        font-size: 14px;
    }

    .purchase-section .popular-text {
        font-size: 12px;
    }

    .purchase-section .package-carousel .carousel-img {
        max-width: 98.25px;
        min-height: 98.25px;
    }

    .purchase-section .swipe-left,
    .purchase-section .swipe-right {
        max-width: 20px;
        min-height: 98.25px;
    }

    .purchase-section .rotate-right {
        max-width: 20px;
        min-height: 20px;
    }

    .purchase-section .feedback-list {
        min-height: 113.25px;
    }

    .purchase-section .zoom-container {
        max-width: 350px;
        min-height: 350px;
    }

    .purchase-section #carousel-purchase .counter {
        font-size: 14px;
    }

    .purchase-section #swipe-text {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {

    /*Video Section*/
    .video-section {
        height: 690px;
    }

    .video-section .container {
        width: 100%;
        height: 636px;
    }

    .video-section .video-col,
    .video-section .text-col {
        height: 636px;
    }

    .video-section .video-col div {
        width: 100%;
        max-width: 336px;
        height: 604px;
    }

    .video-section .text-col .text-part {
        width: 100%;
        max-width: 272px;
    }

    /* Customers Review Section */
    .customers-review-section h2 {
        font-size: 36px;
    }

    .customers-review-section .container-fluid {
        max-width: 768px;
    }

    .customers-review-section .card {
        min-height: 643px;
    }

    .customers-review-section .card-img {
        max-width: 142px;
        min-height: 154px;
        padding: 12px;
        margin: 12px 12px 0px 12px;
    }

    .customers-review-section .card-img-top {
        max-width: 114px;
        min-height: 126px;
        object-fit: cover;
    }

    .customers-review-section .card-title {
        margin-bottom: 12px;
    }

    .customers-review-section .card-text {
        margin-bottom: 16px;
        line-height: 20px;
    }

    .customers-review-section .card-body {
        padding: 12px 12px 14px;
    }

    .customers-review-section .card-footer {
        padding: 16px 12px;
    }

    .customers-review-section .card-footer small {
        font-size: 12px;
    }

    .customers-review-section .card-footer .btn {
        padding: 0px 10px;
    }

    /*Benefits Section*/
    .benefits-section h2 {
        font-size: 36px;
        font-family: Helvetica;
    }

    .benefits-section .main p {
        font-size: 24px;
    }

    .benefits-section .container-fluid {
        max-width: 736px;
        min-height: 800px;
    }

    .benefits-section .svg-img {
        width: 420px;
        height: 420px;
    }

    .benefits-section .svg-img img {
        width: 400px;
        height: 400px;
    }

    .benefits-section h3 {
        font-size: 18px;
    }

    .benefits-section p {
        font-size: 16px;
    }

    .benefits-section #l1 {
        width: 100%;
        max-width: 56px;
    }

    .benefits-section #l2 {
        width: 100%;
        max-width: 56px;
    }

    .benefits-section #l3 {
        width: 100%;
        max-width: 56px;
    }

    .benefits-section #l4 {
        width: 100%;
        max-width: 56px;
    }

    /*Purchase Section*/
    .purchase-section .product-info {
        min-height: 811px;
    }

    .purchase-section .thumnail-col {
        max-width: 102px;
        min-height: 560px;
    }

    .purchase-section #thumb-up,
    .purchase-section #thumb-down {
        max-width: 102px;
        min-height: 32px;
    }

    .purchase-section #thumbnail-list button {
        padding: 7px;
        max-width: 94px;
        min-height: 94px;
    }

    .purchase-section #thumbnail-list img {
        max-width: 76px;
        min-height: 76px;
    }

    .purchase-section #thumbnail-list {
        min-height: 485px;
    }

    .purchase-section .oneTimeBtn,
    .purchase-section .subscribeBtn {
        padding: 10px 16px;
    }

    .purchase-section h2.bag {
        font-size: 20px;
    }

    .purchase-section h2.price {
        font-size: 20px;
    }

    .purchase-section h5.save {
        font-size: 16px;
    }

    .purchase-section span.per-bag {
        font-size: 14px;
    }

    .purchase-section h4.month {
        font-size: 14px;
    }

    .purchase-section .card {
        min-height: 160px;
    }

    .purchase-section .card-1 {
        min-height: 106px;
    }

    .purchase-section .card-2 {
        min-height: 148.5px;
    }

    .purchase-section .card-3 {
        min-height: 128.5px;
    }

    .purchase-section .subs-card-1 {
        min-height: 176px;
    }

    .purchase-section .card-2 {
        min-height: 213px;
    }

    .purchase-section .card-3 {
        min-height: 213px;
    }

    .purchase-section .org-price {
        font-size: 18px;
    }

    .purchase-section .swipe-left,
    .purchase-section .swipe-right {
        max-width: 20px;
        min-height: 68px;
    }

    .purchase-section .rotate-right {
        max-width: 20px;
        min-height: 20px;
    }

    .purchase-section .free-text {
        font-size: 12px;
    }

    .purchase-section .feedback-list {
        min-height: 83px;
    }


    .purchase-section .zoom-container {
        max-width: 360px;
        min-height: 360px;
    }

    .purchase-section .package-carousel .carousel-img {
        max-width: 68.8px;
        min-height: 68.8px;
    }

    .purchase-section .oneTimeCards button {
        max-width: 88.98px;
        min-height: 51px;
        font-size: 14px;
    }

    .purchase-section .popular-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {

    /*Video Section*/
    .video-section {
        height: 636px;
    }

    .video-section .container {
        width: 100%;
        height: 572px;
    }

    .video-section .video-col,
    .video-section .text-col {
        height: 572px;
    }

    .video-section .video-col div {
        max-width: 100%;
        max-width: 464px;
        height: 540px;
    }

    .video-section .text-col .text-part {
        width: 100%;
        max-width: 400px;
    }

    /* Customers Review Section */
    .customers-review-section h2 {
        font-size: 36px;
    }

    .customers-review-section .container-fluid {
        max-width: 1024px;
    }

    .customers-review-section .card {
        min-height: 595px;
    }

    .customers-review-section .card-img {
        max-width: 206px;
        min-height: 218px;
        padding: 12px;
        margin: 12px 12px 0px 12px;
    }

    .customers-review-section .card-img-top {
        max-width: 178px;
        min-height: 190px;
        object-fit: cover;
    }

    .customers-review-section .card-title {
        margin-bottom: 12px;
    }

    .customers-review-section .card-text {
        margin-bottom: 16px;
        line-height: 20px;
    }

    .customers-review-section .card-body {
        padding: 12px 12px 24px;
    }

    .customers-review-section .card-footer {
        padding: 16px 12px;
    }

    .customers-review-section .card-footer small {
        font-size: 12px;
    }

    .customers-review-section .card-footer .btn {
        padding: 0px 10px;
    }

    /*Benefits Section*/
    .benefits-section h2 {
        font-size: 48px;
        font-family: Helvetica;
    }

    .benefits-section .main p {
        font-size: 24px;
    }

    .benefits-section .container-fluid {
        max-width: 992px;
        min-height: 500px;
    }

    .benefits-section .svg-img {
       width: 550px;
       height: 550px;
    }

    .benefits-section .svg-img img {
        width: 500px;
        height: 500px;
    }

    .benefits-section .svg-img svg {
        bottom: 24px;
        left: 2px;
    }

    .benefits-section h3 {
        font-size: 18px;
    }

    .benefits-section p {
        font-size: 16px;
    }

    .benefits-section #l1 {
        width: 100%;
        max-width: 63px;
    }

    .benefits-section #l2 {
        width: 100%;
        max-width: 63px;
    }

    .benefits-section #l3 {
        width: 100%;
        max-width: 63px;
    }

    .benefits-section #l4 {
        width: 100%;
        max-width: 63px;
    }

    /*Purchase Section*/

    .purchase-section .product-info {
        min-height: 834px;
    }

    .purchase-section .thumnail-col {
        max-width: 102px;
        min-height: 560px;
    }

    .purchase-section #thumb-up,
    .purchase-section #thumb-down {
        max-width: 102px;
        min-height: 32px;
    }

    .purchase-section #thumbnail-list button {
        padding: 7px;
        max-width: 94px;
        min-height: 94px;
    }

    .purchase-section #thumbnail-list img {
        max-width: 76px;
        min-height: 76px;
    }

    .purchase-section #thumbnail-list {
        min-height: 485px;
    }

    .purchase-section .oneTimeBtn,
    .purchase-section .subscribeBtn {
        padding: 10px 16px;
    }

    .purchase-section h2.price {
        font-size: 36px;
    }

    .purchase-section .oneTimeCards button {
        max-width: 207px;
        min-height: 40px;
    }

    .purchase-section .card {
        max-width: 237px;
        min-height: 306px;
    }

    .purchase-section .popular-card {
        min-height: 330px;
    }

    .purchase-section .org-price {
        font-size: 24px;
    }

    .purchase-section .swipe-left,
    .purchase-section .swipe-right {
        max-width: 40px;
        min-height: 120px;
    }

    .purchase-section .rotate-right {
        max-width: 30px;
        min-height: 30px;
    }

    .purchase-section .zoom-container {
        max-width: 410px;
        min-height: 410px;
    }

    .purchase-section .package-carousel .carousel-img {
        max-width: 120px;
        min-height: 120px;
    }

    .purchase-section .free-text {
        font-size: 16px;
    }

    .purchase-section .subs-left-card,
    .purchase-section .subs-center-card {
        max-width: 237px;
        min-height: 442px;
    }

    .purchase-section .savings-card {
        max-width: 237px;
        min-height: 466px;
    }

    .purchase-section .feedback-list {
        min-height: 135px;
    }
}

@media screen and (min-width: 1200px) {
     .benefits-section .container-fluid {
        max-width: 1200px;
        min-height: 620px;
    }
    .benefits-section .svg-img svg {
        bottom: 24px;
        left: -24px;
    }
}

@media screen and (min-width: 1400px) {

    /*Video Section*/
    .video-section {
        height: 540px;
    }

    .video-section .container {
        width: 100%;
        max-width: 1120px;
        height: 480px;
    }

    .video-section .video-col,
    .video-section .text-col {
        height: 480px;
    }

    .video-section .video-col div {
        width: 100%;
        max-width: 528px;
        height: 448px;
    }

    .video-section .text-col .text-part {
        width: 100%;
        max-width: 464px;
    }

    /* Customers Review Section */
    .customers-review-section h2 {
        font-size: 36px;
    }

    .customers-review-section .container-fluid {
        max-width: 1280px;
    }

     .customers-review-section .card {
        min-height: 616px;
    }

    .customers-review-section .card-img {
        max-width: 270px;
        min-height: 282px;
        padding: 12px;
        margin: 12px 12px 0px 12px;
    }

    .customers-review-section .card-img-top {
        max-width: 242px;
        min-height: 254px;
        object-fit: cover;
    }

    .customers-review-section .card-title {
        margin-bottom: 12px;
    }

    .customers-review-section .card-text {
        margin-bottom: 16px;
    }

    .customers-review-section .card-body {
        padding: 12px 12px 24px;
    }

    .customers-review-section .card-footer {
        padding: 16px 12px;
    }

    .customers-review-section .card-footer small {
        font-size: 12px;
    }

    .customers-review-section .card-footer .btn {
        padding: 0px 10px;
    }

    /*Benefits Section*/
    .benefits-section h2 {
        font-size: 48px;
        font-family: Helvetica;
    }

    .benefits-section .main p {
        font-size: 24px;
    }

    .benefits-section .container-fluid {
        max-width: 1248px;
        min-height: 620px;
    }

    .benefits-section .svg-img {
        width: 550px;
        height: 550px;
    }

    .benefits-section .svg-img img {
        width: 500px;
        height: 500px;
    }

    .benefits-section .svg-img svg {
        bottom: 24px;
        left: -24px;
    }

    .benefits-section h3 {
        font-size: 18px;
    }

    .benefits-section p {
        font-size: 16px;
    }

    .benefits-section #l1 {
        width: 100%;
        max-width: 63px;
    }

    .benefits-section #l2 {
        width: 100%;
        max-width: 63px;
    }

    .benefits-section #l3 {
        width: 100%;
        max-width: 63px;
    }

    .benefits-section #l4 {
        width: 100%;
        max-width: 63px;
    }

    /*Purchase Section*/
    .purchase-section .product-info {
        min-height: 674px;
    }

    .purchase-section .thumnail-col {
        max-width: 110px;
        min-height: 578px;
    }

    .purchase-section #thumb-up,
    .purchase-section #thumb-down {
        max-width: 110px;
        min-height: 32px;
    }

    .purchase-section #thumbnail-list button {
        padding: 7px;
        max-width: 94px;
        min-height: 94px;
    }

    .purchase-section #thumbnail-list img {
        max-width: 76px;
        min-height: 76px;
    }

    .purchase-section #thumbnail-list {
        min-height: 485px;
    }

    .purchase-section .oneTimeBtn,
    .purchase-section .subscribeBtn {
        padding: 10px 16px;
    }

    .purchase-section h2.price {
        font-size: 36px;
    }

    .purchase-section .card {
        min-height: 306px;
    }

    .purchase-section .popular-card {
        min-height: 330px;
    }

    .purchase-section .org-price {
        font-size: 24px;
    }

    .purchase-section .swipe-left,
    .purchase-section .swipe-right {
        max-width: 43px;
        min-height: 143px;
    }

    .purchase-section .zoom-container {
        max-width: 500px;
        min-height: 500px;
    }

    .purchase-section .package-carousel .carousel-img {
        max-width: 143px;
        min-height: 143px;
    }

    .purchase-section .free-text {
        font-size: 16px;
    }

    .purchase-section .subs-left-card,
    .purchase-section .subs-center-card {
        max-width: 241px;
        min-height: 366px;
    }

    .purchase-section .savings-card {
        max-width: 243px;
        min-height: 390px;
    }

    .purchase-section .feedback-list {
        min-height: 187px;
    }
}